<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="py-5 text-center">
        <h2 th:text="#{page.item.detail}">??</h2>
    </div>
    <div>
        <div th:object="${itemDetailForm}">
            <div>
                <label th:text="#{label.item.id}">??</label>
                <input type="text" id="id" name="id" class="form-control" th:value="${itemDetailForm.id}" readonly>
            </div>
            <div>
                <label th:text="#{label.item.name}">??</label>
                <input type="text" id="name" name="name" class="form-control" th:value="${itemDetailForm.name}" readonly>
            </div>
            <div>
                <label th:text="#{label.item.price}">??</label>
                <input type="text" id="price" name="price" class="form-control" th:value="${itemDetailForm.price}" readonly>
            </div>
            <div>
                <label th:text="#{label.item.quantity}">??</label>
                <input type="text" id="quantity" name="quantity" class="form-control" th:value="${itemDetailForm.quantity}" readonly>
            </div>

        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="button"
                        th:onclick="|location.href='@{/basket/create/{id}/(id=${itemDetailForm.id})}'|"
                >장바구니 추가</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="button"
                        th:onclick="|location.href='@{/item/update/{id}(id=${itemDetailForm.id})}'|">상품 수정</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        th:onclick="|location.href='@{/item/list}'|"
                        type="button">이전으로</button>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>