<!DOCTYPE html>
<html th:replace="~{template/layoutExtend/layoutFile :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<body>
<section>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{label.item.id}">??</th>
                <th th:text="#{label.item.name}">??</th>
                <th th:text="#{label.item.price}">??</th>
                <th th:text="#{label.item.quantity}">??</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td ><a th:href="@{/item/detail/{id}(id=${item.id})}" th:text="${item.id}">??</a></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.quantity}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav>
        <div class="container d-flex justify-content-center">
            <ul class="pagination">
                <li th:each="page : ${#numbers.sequence(1, items.totalPages)}"
                    th:class="${page-1 == items.number ? 'page-item active' : 'page-item'}">
                    <a class="page-link" th:href="@{/?size=10&page={page}(page=${page-1})}" th:text="${page}"></a>
                </li>
            </ul>
        </div>
    </nav>
</section>
</body>
</html>