<!DOCTYPE html>
<html th:replace="~{template/layoutExtend/layoutFile :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">

<body>
<section>
    <div class="py-5 text-center">
        <h2 th:text="#{page.order.list}">??</h2>
    </div>
    <div class="fieldError" th:text="${message}"></div>
    <div>
        <div>
            <form th:object="${orderSearchCond}" class="form-inline">
                <div class="form-group mb-2">
                    <input type="text" th:field="*{memberName}" class="form-control" placeholder="회원 이름"/>
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <select th:field="*{orderStatus}" class="form-control">
                        <option value="">주문 상태</option>
                        <option th:each="status : ${T(hello.shop.entity.OrderStatus).values()}"
                                th:value="${status}"
                                th:text="${status}">option
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">검색</button>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>주문 ID</th>
                <th>주문 회원 이름</th>
                <th>주문 상태</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td>
                    <a th:href="@{/order/detail/{id}(id=${order.orderId})}" th:text="${order.orderId}"></a>
                </td>
                <td th:text="${order.memberName}"></td>
                <td th:text="${order.orderStatus}"></td>
                <td>

                    <a th:if="${order.orderStatus.name() == 'ORDER'}"
                       th:href="'javascript:cancelOrder('+${order.orderId}+')'"
                       class="btn btn-danger">주문 강제 취소
                    </a>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav>
        <div class="container d-flex justify-content-center">
            <ul class="pagination">
                <li th:each="page : ${#numbers.sequence(1, orders.totalPages)}"
                    th:class="${page-1 == orders.number ? 'page-item active' : 'page-item'}">
                    <a class="page-link" th:href="@{/order/list/?size=10&page={page}(page=${page-1})}" th:text="${page}"></a>
                </li>
            </ul>
        </div>
    </nav>
</section>
</body>
</html>

