<!DOCTYPE html>
<html th:replace="~{template/layoutExtend/layoutFile :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">

<body>
<section>
    <div class="py-5 text-center">
        <h2 th:text="#{page.member.detail}">??</h2>
    </div>
    <div>
        <div th:object="${memberDetailForm}">
            <div>
                <label th:text="#{label.member.name}">??</label>
                <input type="text" class="form-control" th:value="${memberDetailForm.name}" readonly>
            </div>
            <div>
                <label>주소</label>
                <input type="text" class="form-control" th:value="${memberDetailForm.cityStreetZipcode}" readonly>
            </div>

            <div th:if="${#lists.size(memberDetailForm.orders) > 0}">
                <label th:text="#{label.member.orders.id}">??</label>
                <div th:each="order : ${memberDetailForm.orders}">
                    <input type="text" id="orders" name="orders" class="form-control" th:value="${order.id}" readonly>
                </div>
            </div>
        </div>
        <hr class="my-4">
    </div>
</section>
</body>

</html>