<!DOCTYPE html>
<html th:replace="~{template/layoutExtend/layoutFile :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">

<body>
<section>
  <div class="py-5 text-center">
    <h2>내 정보</h2>
  </div>
  <div>
    <div th:object="${member}">
      <div>
        <label th:text="#{label.member.id}">??</label>
        <input type="text" class="form-control" th:value="${member.id}" readonly>
      </div>
      <div>
        <label th:text="#{label.member.name}">??</label>
        <input type="text" class="form-control" th:value="${member.name}" readonly>
      </div>
      <div>
        <label>주소</label>
        <input type="text" class="form-control" th:value="${member.address.cityStreetZipcode}" readonly>
      </div>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="button"
                th:onclick="|location.href='@{/member/update/{id}(id=${member.id})}'|"
                th:text="#{page.member.update}">??</button>
      </div>
    </div>
  </div>
</section>
</body>

</html>