<!DOCTYPE html>
<html th:fragment="layout (content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <!-- jQuery 관련 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title th:text="#{logo}">??</title>
    <style>
        .fieldError {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="row">
            <div class="col-3"><a href="/"><h3 class="text-muted" th:text="#{logo}"></h3></a></div>
            <div class="col-6" th:if="${currentMember != null}">
                <form th:object="${currentItemSearchCond}" class="form-inline d-flex" action="/">
                    <div class="form-group mb-2 flex-fill">
                        <input type="text" th:field="*{itemName}" class="form-control w-100" placeholder="찾고 싶은 상품 검색"/>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">검색</button>
                </form>
            </div>
            <div class="col-1" th:if="${currentMember != null}">
                <img src="/admin.png" style="width: 30px; height: 30px;" class="dropdown-toggle" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" th:href="@{/member/list}">회원 목록</a>
                    <a class="dropdown-item" th:href="@{/order/list}">주문 목록</a>
                </div>
            </div>

            <div class="col-1" th:if="${currentMember != null}">
                <img src="/user.png" style="width: 30px; height: 30px;" class="dropdown-toggle" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <a class="dropdown-item" th:href="@{/member/my/{id}(id=${currentMember.id})}">개인정보</a>
                    <a class="dropdown-item" th:href="@{/item/my/{id}(id=${currentMember.id})}">내 상품</a>
                    <a class="dropdown-item" th:href="@{/order/my/{id}(id=${currentMember.id})}">내 주문</a>
                    <form th:action="@{/member/logout}" method="post"><button class="btn-link dropdown-item" type="submit">로그아웃</button></form>
                </div>
            </div>



            <div class="col-1">
                <a th:if="${currentMember != null}" th:href="@{/basket/my/{id}(id=${currentMember.id})}">
                    <img src="/basket.png" style="width: 30px; height: 30px;">
                </a>
            </div>
        </div>
    </div>
    <div th:replace="${content}"></div>
    <div class="footer">
        <p th:text="#{logo}">&copy; IBJ Shop</p>
    </div>
</div>
</body>
<script>
    $(document).ready(function() {
        $('.dropdown-toggle').click(function(){
            var dropdown = $(this).next('.dropdown-menu');
            $('.dropdown-menu').not(dropdown).hide(); // 기존에 열려있던 드랍다운 메뉴 닫기
            dropdown.toggle();
        });
    });
</script>


</html>