<!DOCTYPE html>
<html th:replace="~{template/layoutExtend/layoutFile :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">

<body>
<section>
  <div class="jumbotron">
    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="button"
                th:onclick="|location.href='@{/member/create}'|">회원 가입</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="button"
                th:onclick="|location.href='@{/member/login}'|">로그인</button>
      </div>
    </div>
  </div>
</section>
</body>

</html>