<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div class="jumbotron">
    <h2 th:text="#{page.home}"></h2>
    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="button"
                th:onclick="|location.href='@{/member/create}'|">회원 가입</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="button"
                th:onclick="|location.href='@{/member/login}'|">로그인</button>
      </div>
    </div>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>